[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
keymanager = {editable = true, path = "./src/KeyManager"}
arrow = "*"
pyside2 = "==5.15.2"
blockchain = {editable = true, path = "./src/Blockchain"}
coloredlogs = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
start = "uvicorn src.API.app:app"
