.balance_card {
  color: white;
  background: var(--prim-color-1);
  padding: 3em 3em;
  border-radius: 2em;
  width: 40vw;
}

.thold_title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1.75em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.main_text_column {
  margin-bottom: 2em;

  h4 {
   font-size: 2.5em;
   margin: 0;
  }
  p {
    color: #AFAFAF;
    margin: 0;
  }
}

.mini_text_column {
  width: 50%;
  margin-bottom: 2em;
  h4 {
    font-size: 1.2em;
    margin: 0;
   }
   p {
     color: #AFAFAF;
     margin: 0;
   }
}

.flex_split {
  display: flex;
}