.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  //margin-top:
}

.content {
  background-color: white;
  width: 50%;
  height: 12em;
  border-radius: 3em;
  background-color: white;
  box-shadow: 0 0 4em rgba($color: #000000, $alpha: 0.2);
  padding: 2.5em;
}
