.main {
  width: 4em;
  height: 4em;
  background-color: white;
  margin-bottom: 1.5em;
  border-radius: 0.5rem;
  border: 0.12rem solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
