$base-col: var(--prim-color-1);

.main {
  width: 4em;
  height: 4em;
  color: var(--prim-color-1);
  background-color: white;
  margin-bottom: 1.5em;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main:hover {
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.44);
}

.bordered {
  border: 0.12rem solid #dddddd;
}

.active {
  color: white;
  background-color: var(--secondary-color-2);
}

.active:hover {
  background-color: darken(#ff8872, 5%);
}

.focus {
  color: white;
  background-color: var(--prim-color-1);
}

.focus:hover {
  background-color: lighten(#5c4e7a, 10%);
}
