.main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.left {
  h6 {
    font-weight: 500;
    margin: 0;
    font-size: 1.5em;
  }
  p {
    margin: 0;
  }
}

.right {
}
