.main {
  margin-top: 3em;
}

.option_container {
  line-height: 1.1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  column-gap: 1em;
  color: #bbbbbb;
  border-bottom: 0.1em solid #bbbbbb;
  padding-bottom: 0.5em;
}

.active_option {
  color: black;
  font-size: 1.05em;
  transition: all 0.05s linear;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: -8em;
  height: 37.5vh;
  overflow: scroll;
}
